<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/css/webstyle.css">
</head>
<body class="webc">
<div>

    <nav class="n">
        <img src="static/images/11247.jpg" >
    <div class="ho">
        <a  href="/">HOME</a>
        <a  href="https://www.puregym.com/about-us/">ABOUT US</a>
        <a  href="https://www.anytimefitness.co.uk/contact/">CONTACT</a>
        <a  href="">SIGNUP</a>
    </div>
    </nav>
</div>
<div class="bench">
    <img src="/static/images/man-workingout-local-gym.jpg" class="ben">


</div>
<div class="ben1">
<a class="ben1c" href="https://www.coachweb.com/exercises/chest-exercises/186/bench-press-technique-tips">Bench Press</a></div>
<div >
    <img class="b" src="/static/images/concept-power-strength-healthy-lifestyle-sport-powerful-attractive-muscular-man-gym.jpg">
</div>
<div class="p1">
<a class="p1c" href="https://www.coachweb.com/exercises/full-body-workouts/2534/10-pull-variations">Pull Up</a></div>
<div >
    <img class="push" src="/static/images/young-man-training-exercise-pushups.jpg">
</div>
<div class="push1">
<a class="push1c" href="https://www.physio-pedia.com/Pushups">Push Up</a></div>
</body>
</html>