<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/css/webstyle.css">
</head>
<body class="wei">
<div>

    <nav class="n">
        <img src="static/images/11247.jpg" >
    <div class="ho">
        <a  href="/">HOME</a>
        <a  href="https://www.puregym.com/about-us/">ABOUT US</a>
        <a  href="https://www.anytimefitness.co.uk/contact/">CONTACT</a>
        <a  href="">SIGNUP</a>
    </div>
    </nav>
</div>
<div class="d">
    <h1 class="welcome">WELCOME TO FITNESS EXPERT</h1>
    <h6 class="welh6">Buy your Membership and Join us Today</h6>
</div>
<div class="link">
    <a  class='a1' href="webclass">Our Classes</a>
    <a class='a2' href="web">Membership</a>
</div>
</body>
</html>